# Dont forget to use the following command to load the environment variables:
    # from dotenv import load_dotenv
    # load_dotenv()

# Passwords:
    # Jira Credentials
        JIRA_USER_NAME='your username'
        JIRA_TOKEN='your token'
        JIRA_BASE_URL='your base url'  # instance_name.atlassian.net'
